
/* dark mode styles */
.dark-mode {
    /* color: #FAF4EC; */
    background: #252135;
}

.dark-mode h1 {
    color: #252135;
}

.dark-mode button {
    color: #252135;
    background-color: #C4A7E6;
    border-color: #DFDDF4;
}

.dark-mode button:focus-visible {
    /* paint a 2px white pseudo-outline using box-shadow */
    box-shadow: 0 0 0 2px #000000;
    /* then paint a 2px dark pink outline and offset it to reveal one or two pixels of the pseudo-outline */
    outline: solid 2px rgb(232, 220, 113);
}

.dark-mode #moi {
    border-color: #EB9A97;
}

.dark-mode .header-speech-bubble {
    background-color: #EB9A97;
}

.dark-mode .arrow-down {
    border-top-color: #EB9A97;
}

/* .dark-mode a {
    color: #FAF4EC;
}

.dark-mode a:link {
    text-decoration: underline;
}

.dark-mode a:visited,
.dark-mode a:active {
    text-decoration: underline;
    color: #94958B;
}

.dark-mode a:hover {
    text-decoration: underline;
    color: #F07933;
} */
