/* colour reference: https://coolors.co/464655-94958b-b7b6c1-d5cfe1-eddfef */

body {
    color: #464655;
    font-family: verdana, sans-serif;
    font-size: 10pt;
    background: #EDDFEF;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: underline;
    color: #464655;
}

a:active,
a:hover {
    text-decoration: underline;
    color: #94958B;
}

img {
    border: 0px;
}

.header {
    text-align: center;
    height: 150px;
}

.header-text-container {
    transform: rotate(2deg);
    background-color: #F1C40F;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#hey {
    animation: shake 2s;
    animation-iteration-count: 1.5;
    display: inline-block;
}

#hey:hover {
    animation: shake 2s;
    animation-iteration-count: infinite;}

h1 {
    color: #464655;
}

#container {
    position: relative;
    width: 100%;
}

#content {
    margin-left: 145px;
    margin-right: 145px;
    padding: 5px;
    text-align: center;
}

#leftmenu {
    position: absolute;
    left: 5px;
    top: 0;
    width: 130px;
    padding: 5px;
    text-align: left;
}

#rightmenu {
    position: absolute;
    right: 5px;
    top: 0;
    width: 130px;
    padding: 5px;
    text-align: right;
}

#leftmenu ul,
#rightmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    85% { transform: rotate(5deg); }
    95% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes wigglewiggle {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-5deg); }
    20% { transform: rotate(5deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-5deg); }
    80% { transform: rotate(5deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-5deg); }
}

#moi {
    border-radius: 50%;
    margin-top: 10px;
    width: 68px;
    height: auto;
    aspect-ratio: 1;
}

#moi:hover {
    animation: wigglewiggle 2s;
    animation-iteration-count: infinite;
}

#styleswitcher {
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    margin-left: auto;
    width: 30px;
    height: 30px;
}

#sun-svg {
    display: none;
    fill: #EDDFEF;
}

#moon-svg {
    display: block;
    fill: #464655;
}

/* dark mode styles */
.dark-mode {
    color: #EDDFEF;
    background: #464655;
}

.dark-mode a {
    color: #EDDFEF;
}
