/* colour reference: https://coolors.co/464655-94958b-b7b6c1-d5cfe1-eddfef */

body {
    color: #464655;
    font-family: verdana, sans-serif;
    font-size: 10pt;
    background: #EDDFEF;
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: underline;
    color: #464655;
}

a:active,
a:hover {
    text-decoration: underline;
    color: #94958B;
}

img {
    border: 0px;
}

.header {
    text-align: center;
    height: 150px;
}

.header-text-container {
    transform: rotate(2deg);
    background-color: #F1C40F;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

h1 {
    color: #464655;
}

#moi {
    border-radius: 50%;
    margin-top: 10px;
    width: 68px;
    height: auto;
    aspect-ratio: 1;
}

/* #header img {
    margin: auto;
} */

#container {
    position: relative;
    width: 100%;
}

#content {
    margin-left: 145px;
    margin-right: 145px;
    padding: 5px;
}

#leftmenu {
    position: absolute;
    left: 5px;
    top: 0;
    width: 130px;
    padding: 5px;
    text-align: left;
}

#rightmenu {
    position: absolute;
    right: 5px;
    top: 0;
    width: 130px;
    padding: 5px;
    text-align: right;
}

#leftmenu ul,
#rightmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
}

#styleswitcher {
    margin-top: 10px;
    margin-right: 10px;
    display: block;
    margin-left: auto;
    width: 30px;
    height: 30px;
}

#sun-svg {
    display: none;
    fill: #EDDFEF;
}

#moon-svg {
    display: block;
    fill: #464655;
}

/* dark mode styles */
.dark-mode {
    color: #EDDFEF;
    background: #464655;
}

.dark-mode a {
    color: #EDDFEF;
}
