:root {
    --cream: #FAF4EC;
    --petrol-blue: #276983;
    --purple: #585379;
    --salmon: #D7827D;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 12px;
}

body, button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 0.03em;
}

body {
    font-size: 1.3rem;
    background: var(--cream);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--cream);
}

.btn {
    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;

    padding-top: 1.29rem;
    padding-bottom: 1.29rem;

    width: 11.67rem;

    color: var(--cream);
    background-color: var(--petrol-blue);
    border-radius: 1.5rem;
    border-width: 0.17rem;
    border-color: var(--purple);
    border-style: solid;
}

.btn:hover {
    background-color: var(--purple);
}

.btn:focus-visible {
    /* paint a 2px white pseudo-outline using box-shadow */
    box-shadow: 0 0 0 2px #fff;
    /* then paint a 2px dark pink outline and offset it to reveal one or two pixels of the pseudo-outline */
    outline: solid 2px #d59;
    outline-offset: 1px;
}

.btn:active {
    box-shadow:
        inset 2px 2px 3px rgb(0 0 0 / 0.6);
    transform: translateY(1px);
}

#style-switcher {
    margin-top: 0.85rem;
    margin-right: 0.85rem;

    display: block;
    margin-left: auto;

    width: 2.5rem;
    height: 2.5rem;
}

#moon-svg {
    display: block;
    fill: var(--purple);
}

.semibold-text {
    font-weight: 550;
    font-size: 2.2rem;
}

.bold-text {
    /* font-weight: 700; */
    font-weight: 600;
    font-size: 1.3rem;
}

.extrabold-text {
    font-weight: 750;
    font-size: 2.4rem;
}

.header {
    text-align: center;
}

.header-speech-bubble {
    /* transform: rotate(2deg); */
    background-color: var(--salmon);
    margin: auto;
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid var(--salmon);

  margin: auto;
}

.links-grid {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}

.first-row {
    margin-top: 1.5em;
}

.subsequent-rows {
    margin-top: 1em;
}

.talk-to-me {
    display: flex;
    margin-top: 0.85rem;
}

#container {
    position: relative;
    width: 100%;
}

#content {
    padding: 0.45rem 0.45rem 2rem 0.45rem;
    text-align: center;
}

#greeting {
    display: inline-block;

    animation: jump 1.2s;
    animation-iteration-count: 1;
}

/* all :hover rules need to be prepended with body.with-mouse-input */
body.with-mouse-input #greeting:hover {
    /* prevent jump animation from re-running after a hover */
    /* see: https://stackoverflow.com/questions/71240871/how-to-prevent-a-css-animation-from-rerunning-after-a-second-hover-animation */
    animation: jump 2s, shake 2s;
    animation-iteration-count: 1, infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes jump {
    0% { transform: translate(0px, 0px) scale(100%); }
    50% { transform: translate(0px, -5px) scale(130%); }
    100% { transform: translate(0px, 0px) scale(100%); }
}

#moi {
    border-radius: 50%;
    width: 12rem;
    height: auto;
    aspect-ratio: 1;
    align-self: start;
    margin-top: 1em;
    border-style: solid;
    border-color: var(--purple);
    border-width: 0.335rem;

    animation: wigglewigglepause 8s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}

/* all :hover rules need to be prepended with body.with-mouse-input */
body.with-mouse-input #moi:hover {
    animation: wigglewiggle 2s;
    animation-iteration-count: infinite;
}

/* animation specs */
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(0deg); }
    85% { transform: rotate(5deg); }
    95% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes wigglewiggle {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-5deg); }
    20% { transform: rotate(5deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-5deg); }
    80% { transform: rotate(5deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-5deg); }
}

@keyframes wigglewigglepause {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(-5deg); }
    10% { transform: rotate(5deg); }
    15% { transform: rotate(0deg); }
    20% { transform: rotate(5deg); }
    25% { transform: rotate(-5deg); }
    30% { transform: rotate(0deg); }
    35%, 100% {
        transform: rotate(0deg);
    }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/* @media screen and (min-width: 601px) {
    p {
        font-size: 10pt;
    }
} */
  
/* @media screen and (max-width: 600px) {
    p {
        font-size: 20pt;
    }
} */

/* 
a:link {
    text-decoration: underline;
    color: #ED4D6E;
}

a:visited,
a:active {
    text-decoration: underline;
    color: #94958B;
}

a:hover {
    text-decoration: underline;
    color: #F07933;
} */

/* 
#left-menu {
    position: absolute;
    left: 0.45rem;
    top: 0;
    width: 12.5rem;
    padding: 0.45rem 0.45rem 1.25rem 0.45rem;
    text-align: left;
}

#right-menu {
    position: absolute;
    right: 0.45rem;
    top: 0;
    width: 12.5rem;
    padding: 0.45rem;
    text-align: right;
}

#left-menu ul,
#right-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0.45rem;
} */